#!/bin/env make
# 
# created by Sebastian Ehlert in March 2018 (v 2.1)
# 2.0: recreated from scratch
# 2.1: refined the generation of dependencies, since it crashed if not
#      done in the main directory
#
##############################################################################
## put local configurations here                                            ##
##############################################################################
# the xtb should also go to the bin/
